
$secondary: #bcb5b9;

//Primary
$primary: #52BAD5;
$primary-dark: #0F9DC3;

//Danger
$danger: #DC3545;
$danger-bg: #F8D7D9;
$danger-border: #F5C5CB;
$danger-text: #711B23;

//Warning
$waring: #FEC023;
$warning-bg: #FEF2CC;
$warning-border: #FEEDB9;
$warning-text: #86660E;

//Success
$success: #28A745;
$success-bg: #D4EDDA;
$success-border: #C3E6CB;
$success-text: #155724;

$black: #000;
$white: #fff;

//grayscale color
$gray-100: #F8F9FA; //ex)table-background
$gray-200: #E9ECEF;
$gray-300: #DEE2E6;
$gray-400: #CFD4DA;
$gray-500: #ADB5BD;
$gray-600: #6C757D;
$gray-700: #495057;
$gray-800: #353A40;
$gray-900: #212529;
