
* {
  margin:0;
  padding:0;
  text-align: left;
}

.container {
  width: 560px;
  margin: 0 auto;
}

.placeholder-show {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1.25em;
  padding-bottom: 0.2rem;
  width: 100%;

  input {
    font-size: 1rem;
    padding:12px 0;
    border: 0;
    border-bottom: 1px solid #bcb5b9;
    cursor: text;
    &:focus {
      //input에 focus가 갈 경우, 색 변경
      outline:none;
      border-bottom: 1px solid #52BAD5;
    }
  }

  label {
    text-align: left;
    font-size: 0.75rem;
    color:#bcb5b9;
  }

  //움직임에 애니메이션효과
  label, input {
    transition: all 0.2s;
    touch-action: manipulation;
  }

  //placeholder를 안보이게
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }

  input:placeholder-shown + label {
    cursor: text;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
  }

  //input 선택시, 레이블이 상단으로 이동
  input:not(:placeholder-shown) + label,
  input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }

  //focus가 될 경우 텍스트 색상 변경
  input:focus + label {
    color: #52BAD5;
  }
}
